DB_URL=
DB_USERNAME=
DB_PASSWORD=
CUSTOMER_SERVICE_URL=
EVENT_SERVICE_URL=
VISUAL_ENGIMA_URL=
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RABBITMQ_VIRTUAL_HOST=
KAFKA_BOOTSTRAP_SERVERS=
KAFKA_USERNAME=
KAFKA_PASSWORD=
KAFKA_CA_PATH=