JWT_PUBLIC_KEY=
VALKEY_HOST=
VALKEY_PORT=
VALKEY_USERNAME=
VALKEY_PASSWORD=
SECURITY_SERVICE_URL=
SAGA_ORCHESTRATOR_URL=
CUSTOMER_SERVICE_URL=
EVENT_SERVICE_URL=
PAYMENT_SERVICE_URL=
VISUAL_ENGIMA_URL=